<head>
    <link rel="stylesheet" href="stylesheets/fifthTask.css">
</head>
<body> 
    <div id="fifthTask">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</body>