<ul id="tasks">
    <li><a href="firstTask">First task - select</a></li>
    <li><a href="secondTask">Second task - login</a></li>
    <li><a href="thirdTask">Third task - piramid</a></li>
    <li><a href="fourthTask">Fourth task - grids1</a></li>
    <li><a href="fifthTask">Fifth task - grids2</a></li>
</ul>