<form action="" id="task2">
    <label for="e-mail">E-mail</label>
    <input type="text" name="e-mail">
    <p id="emailErrors" class="errors"></p>
    <label for="password">Password</label> 
    <input type="password" name="password">
    <p id="passwordErrors" class="errors"></p>
    <label for="confirm-password">Confirm password</label>
    <input type="password" name="confirm-password">
    <button id="submitBtn" disabled>Log in</button>
</form>
<script type="module" src="javascripts/SecondTask/secondTask.js"></script>
