<div>
    <div id="piramidAnimation">
    <div id="firstLine"></div>
    <div id="secondLine"></div>
    <div id="thirdLine"></div>
    <div id="fourthLine"></div>
    <div id="fifthLine"></div>
    <div id="sixthLine"></div>
    <div id="seventhLine"></div>
    <div id="eigthLine"></div>
</div>
